<IfModule mod_rewrite.c>
    RewriteEngine On

    # exclude public folder from rewriting so assets can still be accessed
    RewriteRule ^public/ - [L]

    # if the request is for a directory, serve index.php
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)$ /index.php [L]

    # if the request is not a file or directory, serve index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
