label {
    display: inline-block;
    margin-bottom: 1rem;
}

.form .form-submit {
    margin-top: 20px;
}

.form .text-input-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.js-form .validation-text {
    font-size: 13px;
    margin-top: 3px;
}

.js-form .validation-text.error {
    color: #ff0f11;
}

.js-form .info {
    color: #8d8d8d;
}

.form .text-input-row .text-input-column {
    width: 100%;
}

.form label input {
    margin-left: 0.5em;
}

.form input[type="text"] {
    display: inline-block;
    width: auto;
    height: 35px;
    padding: 0.25rem 0.5rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d7deea;
    font-weight: 400;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input[readonly] {
    user-select: none;
    pointer-events: none;
}

.checkbox-enable__label:hover {
    cursor: pointer;
}

.form input[type="text"]:focus {
    box-shadow: 0 0 0 0.2rem rgba(95, 97, 230, 0.5) !important;
    border-color: #aeaff1 !important;
    color: #495057;
    background-color: #fff;
    outline: 0;
}

.form-control {
    height: 35px;
}

label.text-input-column:has(.validation-text.error) input {
    border-color: #ff0f11 !important;
}

.checkbox-enable input {
    margin-top: 0;
    vertical-align: middle;
}

input[type="checkbox"], input[type="checkbox"]:hover {
    accent-color: #686bfe
}

.checkbox-enable .checkbox-enable__label {
    margin-bottom: 0;
    margin-top: 6px;
    display: flex;
}

.checkbox-enable .checkbox-enable__label input {
    vertical-align: middle;
    margin-top: 0;
}

.checkbox-enable .checkbox-enable__label span {
    margin-left: 6px;
    vertical-align: middle;
    font-size: 13px;
}